.custom-text-main-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 99vh;
    background-color: rgba(184, 184, 184, 0.547);
}

.custom-text-innner-bg{
    padding: 20px;
    border-radius: 15px;
    min-height: 350px;
    max-width: 500px;
    margin: 25px;
    position: relative;
    top: 50px;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.259);
    text-align: center;
}
.custom-text-main-heading{
    font-size: 20px;
    color: #c2185b;
    margin: 30px;
}
.user-input-text-area{
    width: 100%;
    height: 150px;
    outline: none;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 1px solid rgba(135, 135, 135, 0.494);
    border-radius: 15px;
}

.custom-text-button-style{
    background-color: #c2185b;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.custom-text-button-style:hover{
    background-color: rgb(66, 108, 66);
}

.error-message-custom-text{
    color: red;
    font-size: 12px;
    margin-top: 20px;
}

.custom-text-go-back-button{
    padding: 10px 20px 10px 20px;
    margin: 15px 0px 0px 10px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(120, 201, 238);
    border: none;
}

.custom-text-go-back-button:hover{
    background-color: #f89bc0;
}
